<html>
    <head>
        <title>Log in</title>
    </head>
    <body>
        <h1>Log in</h1>
        <form action="/login" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" required minlength="1" name="username">
            <label for="password">Password:</label>
            <input type="password" id="password" required minlength="6" name="password">
            <input type="submit" value="Log in">    
        </form>
    </body>
</html>