<html>

<head>
    <title>Sign up</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        input:focus {
            outline: none !important;
        }
    </style>
</head>

<body>
    <div class="container-fluid d-flex align-items-center justify-content-center vh-100">
        <div class="col-2 d-flex align-items-center justify-content-center flex-column bg-light rounded">
            <div class="card-body">
                <h1 class="card-title text-center mb-4">Sign up</h1>
                <form action="/adduser" method="post" class="d-flex flex-column card-text">
                    <label for="username" class="mt-4">Username:</label>
                    <input type="text" id="username" required minlength="1" name="username"
                        class="rounded border-2 border-secondary">
                    <label for="password" class="mt-4">Password:</label>
                    <input type="password" id="password" required minlength="6" name="password"
                        class="rounded border-2 border-secondary">
                    <label for="confPassword" class="mt-4">Confirm Password:</label>
                    <input type="password" id="confPassword" required minlength="6" name="confPassword"
                        class="rounded border-2 border-secondary">
                    <input type="submit" value="Sign Up" class="bg-primary rounded border-0 text-white mt-4">
                </form>
                <p text-center d-block text-danger><%=error%></p>
            </div>
        </div>
    </div>
</body>
</html>