
body {
    margin: 0;
    background-color: black;
}

#flag {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ff9c00;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#leftFlex, #rightGrid {
    margin-bottom: min(1vh, 1vw);
    margin-top: min(1vh, 1vw);
}

#leftFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: min(0.7vh, 0.7vw);
    margin-left: min(1vh, 1vw);
}

#leftFlex div, #rightGrid div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#rightGrid {
    margin-left: min(1vh, 1vw);
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    width: min(30vh, 30vw);
    height: min(71.4vh, 71.4vw);
    gap: min(0.7vh, 0.7vw);
    background-color: wheat;
    margin-right: min(1vh, 1vw);
}

.row {
    gap: min(0.7vh, 0.7vw);
}

.square1 {
    --size: min(10vh, 10vw);
    border: min(1.5vh, 1.5vw) solid #c1003e;
    box-sizing: border-box;
    height: var(--size);
    width: var(--size);
}

.square2 {
    --size: min(6vh, 6vw);
    box-sizing: border-box;
    background-color: #c1003e;;
    height: var(--size);
    width: var(--size);
    position: relative;
}

.square3 {
    --size: min(5vh, 5vw);
    box-sizing: border-box;
    background-color: transparent;
    border: min(0.5vh, 0.5vw) solid #ff9c00;
    height: var(--size);
    width: var(--size);
    transform: rotate(45deg);
}

.square4 {
    --size: min(3vh, 3vw);
    box-sizing: border-box;
    background-color: black;
    border: min(0.5vh, 0.5vw) solid #ff9c00;
    height: var(--size);
    width: var(--size);
}

.smallTriangle1 {
    position: absolute;
    --size: min(1vh, 1vw);
    --color: #ff9c00;
}

.smallTriangle2 {
    position: absolute;
    --size: min(0.5vh, 0.5vw);
    --color: black;
}

.topLeft {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid var(--color);
    transform: rotate(-45deg);
}

.topLeft.smallTriangle1 {
    top: 2px;
    left: -2px;
}

.topLeft.smallTriangle2 {
    top: 5px;
    left: 3px;
}

.topRight {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid var(--color);
    transform: rotate(45deg);
}

.topRight.smallTriangle1 {
    top: 2px;
    right: -2px;
}

.topRight.smallTriangle2 {
    top: 5px;
    right: 3px;
}

.bottomLeft {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid var(--color);
    transform: rotate(-135deg);
}

.bottomLeft.smallTriangle1 {
    bottom: 2px;
    left: -2px;
}

.bottomLeft.smallTriangle2 {
    bottom: 5px;
    left: 3px;
}

.bottomRight {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid var(--color);
    transform: rotate(135deg);
}

.bottomRight.smallTriangle1 {
    bottom: 2px;
    right: -2px;
}

.bottomRight.smallTriangle2 {
    bottom: 5px;
    right: 3px;
}

.rectangle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #c1003e;
    height: calc(min(10vh, 10vw));
    width: min(50vh, 50vw);
}

.centerTriangle, .sideTriangle {
    position: absolute;
}

.centerTriangle.One {
    --base: min(3vh, 3vw);
    --height: min(2vh, 2vw);
    --color: #ff9c00;
    --margin: min(1.35vh, 1.35vw);
}

.centerTriangle.Two {
    --base: min(2vh, 2vw);
    --height: min(1.3vh, 1.3vw);
    --color: black;
    --margin: min(1.6vh, 1.6vw);
}

.centerTriangle.Up {
    border-left: var(--base) solid transparent;
    border-right: var(--base) solid transparent;
    border-top: var(--height) solid var(--color);
    top: var(--margin);
}

.centerTriangle.Down {
    border-left: var(--base) solid transparent;
    border-right: var(--base) solid transparent;
    border-bottom: var(--height) solid var(--color);
    bottom: var(--margin);
}

.centerTriangle.Left {
    border-top: var(--base) solid transparent;
    border-bottom: var(--base) solid transparent;
    border-left: var(--height) solid var(--color);
    left: var(--margin);
}

.centerTriangle.Right {
    border-top: var(--base) solid transparent;
    border-bottom: var(--base) solid transparent;
    border-right: var(--height) solid var(--color);
    right: var(--margin);
}

.sideTriangle.One {
    --base: min(3vh, 3vw);
    --height: min(3vh, 3vw);
    --color: #ff9c00;
    --margin: min(1vh, 1vw);
}

.sideTriangle.Two {
    --base: min(2vh, 2vw);
    --height: min(2vh, 2vw);
    --color: black;
    --margin: min(1.35vh, 1.35vw);
}

.sideTriangle.Up {
    border-left: var(--base) solid transparent;
    border-right: var(--base) solid transparent;
    border-top: var(--height) solid var(--color);
    top: var(--margin);
}

.sideTriangle.Down {
    border-left: var(--base) solid transparent;
    border-right: var(--base) solid transparent;
    border-bottom: var(--height) solid var(--color);
    bottom: var(--margin);
}

.sideTriangle.Left {
    border-top: var(--base) solid transparent;
    border-bottom: var(--base) solid transparent;
    border-left: var(--height) solid var(--color);
    left: var(--margin);
}

.sideTriangle.Right {
    border-top: var(--base) solid transparent;
    border-bottom: var(--base) solid transparent;
    border-right: var(--height) solid var(--color);
    right: var(--margin);
}

.arrow1 {
    position: absolute;
    height: 100%;
    width: 100%;
    clip-path: polygon(40% 12.5%, 50% 50%, 40% 88.5%, 2% 88.5%, 10.5% 50%, 2% 12.5%);
    background-color: #ff9c00;
}

.arrow2 {
    position: absolute;
    height: 100%;
    width: 100%;
    clip-path: polygon(40% 18%, 48.5% 50%, 40% 82%, 5% 82%, 12.5% 50%, 5% 18%);
    background-color: #c1003e;
}

.arrow3 {
    position: absolute;
    height: 100%;
    width: 100%;
    clip-path: polygon(40% 25%, 47% 50%, 40% 75%, 8% 75%, 14% 50%, 8% 25%);
    background-color: #ff9c00;
}

.arrow4 {
    position: absolute;
    height: 100%;
    width: 100%;
    clip-path: polygon(40% 30%, 45.5% 50%, 40% 70%, 11% 70%, 16% 50%, 11% 30%);
    background-color: #c1003e;
}

.mirrorX {
    transform: scaleX(-1);
}

.mirrorY {
    transform: scaleY(-1);
}

#left5 {
    width: min(50vh, 50vw);
    height: min(50vh, 50vw);
    background-color: #c1003e;
}

#lion {
    box-sizing: border-box;
    border: #ff9c00 solid min(1vh, 1vw);
    width: min(48vh, 48vw);
    height: min(48vh, 48vw);
}

.verticalRectangle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #c1003e;
    height: min(50vh, 50vw);
    width: calc(min(10vh, 10vw));
}

.verticalArrow1 {
    position: absolute;
    height: 100%;
    width: 100%;
    clip-path: polygon(12.5% 40%, 50% 50%, 88.5% 40%, 88.5% 2%, 50% 10.5%, 12.5% 2%);
    background-color: #ff9c00;
}

.verticalArrow2 {
    position: absolute;
    height: 100%;
    width: 100%;
    clip-path: polygon(18% 40%, 50% 48.5%, 82% 40%, 82% 5%, 50% 12.5%, 18% 5%);
    background-color: #c1003e;
}

.verticalArrow3 {
    position: absolute;
    height: 100%;
    width: 100%;
    clip-path: polygon(25% 40%, 50% 47%, 75% 40%, 75% 8%, 50% 14%, 25% 8%);
    background-color: #ff9c00;
}

.verticalArrow4 {
    position: absolute;
    height: 100%;
    width: 100%;
    clip-path: polygon(30% 40%, 50% 45.5%, 70% 40%, 70% 11%, 50% 16%, 30% 11%);
    background-color: #c1003e;
}

.block {
    background-color: #c1003e;
    position: relative;
}

.rightBanner1 {
    position: absolute;
    height: 100%;
    width: 100%;
    clip-path: polygon(97% 12.5%, 85% 50%, 97% 87.5%, 3% 87.5%, 15% 50%, 3% 12.5%);
    background-color: #ff9c00;
}

.rightBanner2 {
    position: absolute;
    height: 100%;
    width: 100%;
    clip-path: polygon(94% 16%, 83% 50%, 94% 84%, 6% 84%, 17% 50%, 6% 16%);
    background-color:  #c1003e;
}

.rightBanner3 {
    position: absolute;
    height: 100%;
    width: 100%;
    clip-path: polygon(88% 25%, 80% 50%, 88% 75%, 12% 75%, 20% 50%, 12% 25%);
    background-color: #ff9c00;
}

.rightBanner4 {
    position: absolute;
    height: 100%;
    width: 100%;
    clip-path: polygon(85% 28.5%, 78% 50%, 85% 72.5%, 15% 72.5%, 22% 50%, 15% 28.5%);
    background-color: #c1003e;
}

.triangleBanner {
    position: absolute;
}

.triangleBanner.One {
    --size: min(2vh, 2vw);
    --color: #ff9c00;
    --margin: min(1vh, 1vw);
}

.triangleBanner.Two {
    --size: min(1.3vh, 1.3vw);
    --color: black;
    --margin: min(1.2vh, 1.2vw);
}

.triangleBanner.Left {
    border-top: var(--size) solid transparent;
    border-bottom: var(--size) solid transparent;
    border-left: var(--size) solid var(--color); 
    left: var(--margin);
}

.triangleBanner.Right {
    border-top: var(--size) solid transparent;
    border-bottom: var(--size) solid transparent;
    border-right: var(--size) solid var(--color); 
    right: var(--margin);
}

#img img{
    position: absolute;
    height: 43%;
    width: 20%;
    z-index: 1;
    right: 23%;
}



