
:root {
    --lightRed: #ce133b;
    --red: #b6042a;
    --darkRed: #79021c;
    --green : #00a86b;
    --darkGreen: #007a4d;
    --backColor: #2b2a30;

    --lightFocus: #a00225;
    --darkFocus: #79021c;
    --text : #f0f0f0;
    --text : var(--green);
}


.blob {
    width: 300px;
    /* Larghezza del div .blob */
    height: 300px;
    /* Altezza del div .blob */
    margin: 10% auto;
    /* Margini: 10% sopra e sotto, centrato orizzontalmente */
    position: relative;
    /* Posizionamento relativo: utilizzato per posizionare gli pseudo-elementi ::before e ::after rispetto a questo elemento */
    /* Colore del testo all'interno del div */
    display: flex;
    /* Display flex per centrare il contenuto (testo o altro) all'interno del div */
    justify-content: center;
    /* Allinea orizzontalmente il contenuto al centro */
    align-items: center;
    /* Allinea verticalmente il contenuto al centro */
    z-index: 0;
    /* Livello z-index, determina l'ordine di sovrapposizione degli elementi */
}

/* .blob::before {
    content: '';
    border: 1px solid var(--darkRed);
    border-radius: 58% 42% 48% 53% / 47% 60% 36% 53%;
    width: 100%;
    height: 95%;
    position: absolute;
    left: 0;
    top: 0;
    animation-fill-mode: forwards;
    z-index: -1;
} */

/*https://css-tricks.com/almanac/selectors/a/after-and-before/*/

.blob::after {
    content: '';
    /* Analogamente a ::before, rende visibile lo pseudo-elemento */
    border: 3px solid black;
    /* Bordo dello pseudo-elemento */
    border-radius: 48% 42% 48% 53% / 47% 60% 36% 53%;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.7);
    /* Raggio del bordo per creare forme diverse rispetto a ::before */
    width: 100%;
    /* Larghezza come ::before */
    height: 95%;
    /* Altezza come ::before */
    background: radial-gradient(circle at top right, var(--lightRed) 0%, var(--darkRed) 100%);
    /* Sfondo leggermente trasparente per differenziarlo da ::before */
    position: absolute;
    /* Posizionamento assoluto come ::before */
    left: 0;
    /* Allineato a sinistra come ::before */
    top: 0;
    /* Allineato in alto come ::before */
    animation-fill-mode: forwards;
    z-index: -1;
    /* Mantiene lo stile dell'ultimo frame dell'animazione come ::before */
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
        border-radius: 48% 42% 48% 53% / 47% 60% 36% 53%;
        background: radial-gradient(circle at top right, var(--lightRed) 0%, var(--darkRed) 100%);
    }

    50% {
        transform: rotate(360deg);
        border-radius: 58% 42% 58% 33% / 57% 60% 46% 33%;
    }

    100% {
        transform: rotate(360deg);
        border-radius: 48% 42% 48% 53% / 47% 60% 36% 53%;
    }
}

body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--backColor);
    color: var(--text);
}

#clock {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4em;
}

.timer {
    font-size: 4em;
    margin-bottom: 10px;
}

#start, #reset {
    border: 0;
    width: 5em;
    background-color: transparent;
    font-size: 0.6em;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--text);
}

#studyForm {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5%;
    margin-top: auto;
    margin-bottom: 2em;
}

input {
    background-color: var(--red);
    border: none;
    border-bottom: 4px solid var(--darkRed);
    border-radius: 7px;
    text-align: center;
    outline: none;
    padding: 5px;
    width: 5em;
    font-size: 1.5em;
    font-weight: bold;
    color: var(--text);
}

input:focus {
    background-color: var(--lightFocus);
    border-bottom: 4px solid var(--darkFocus);
    box-shadow: 0 0 10px #000000;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Nasconde le frecce su Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.icon {
    height: 2em;
    width: 2em;
    margin: 5px;
}

#start, #reset {
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1px;
}

p {
    margin: 2px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--red);
    border-bottom: 4px solid var(--darkRed);
    border-radius: 8px;
    padding: 10px;
}

#stalk {
    width: 50px;
    height: 100px;
    background: #228B22; /* Green color */
    clip-path: polygon(50% 50%, 65% 75%, 75% 50%, 90% 80%, 70% 100%, 30% 100%, 10% 80%, 25% 50%, 35% 75%);
    position: relative;
}